name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Compile runtime
      run: make

    - name: Compile tests
      run: |
        echo -e "#include <stdio.h>\nint main() {printf("Executable works\n");}\nvoid print() {printf("Library works\n");}" > dll.c
        echo "extern void print()\nint main() {print();}" > main.c
        gcc -shared crt.o dll.c -o libdll.so
        gcc main.c -L. -ldll

    - name: Test
      run: |
        ./libdll.so
        LD_LIBRARY_PATH=. ./a.out
